# Изучение или повторение python

## На что вы смотрите и что видите

Вы видите тетрадку, где бок о бок с кодом на `python` есть и просто текст-текст. Это удобно, всё рядом, код можно обширно пояснять.


Сами по себе тетрадки это просто вот этот сохранённый текст и код на языке `python` (который вообще-то тоже текст, как мы помним!). Но сейчас они у нас в чём-то открыты, будь то `GitHub`, `Google Colab`, `Jupyter` или что-то ещё. Тогда они ещё довольно красиво оформлены (с разными шрифтами для текста и кода, серым фоном для кода и т.д.). Т.е. красивое представление тетрадок и возможность запускать код даются не ими самими, а программами, где мы их открываем. (так же как и просто с кодом, [см. выше!!](#run)) 

Они имеют расширение `.ipynb`.

## Первый код 
<a name="first-code"></a>

Первое, что обычно делают при знакомстве с языком программирования это печатают `"Привет, мир!"`.
Не будем отступать от традиции. Вот так это выглядит на языке python:

In [58]:
print('Hello, world!')

Hello, world!

In [90]:
print("Hello, world!")

Hello, world!

Заметьте, как `Hello, world!` распечаталось под ячейкой с кодом! Это **вывод ячейки**.

Ну, выглядит как будто несложно: мы даём команду `печатать` — `print`
    (в языках программирования обычно используются английские слова и сокращения от них),
    и пишем что печатать — строчку `'Hello, world!'`.
    
Но вообще происходит тут немало! Команда `print` это функция. Функции выполняют какое-то предопределённое действие с тем, с чем их попросят, — **со своими аргументами**.
Функция `print` печатает, а выполнить это действие мы попросили со строкой `Hello, world!`. То, что мы просим функцию выполнить действие, вызываем её показано круглыми скобками `(...)`. Именно внутри скобок пишут **аргументы**.

Строка это набор символов и записываются строки просто между кавычками, одинарными `'`, как выше, или двойными `"`. Можно использовать одинарные, или двойные, как больше нравится. Главное чтобы набор символов с двух сторон охватывался одинаковыми кавычками: `'Hello, world!'` или `"Hello, world!"`.

Распечатайте в ячейке ниже `And bonsoir, art!`.

In [26]:
# Ваш код здесь, результат должен быть как в ячейке ниже.
print("And bonsoir, art!")

And bonsoir, art!

In [1]:
# Ваш код здесь

And bonsoir, art!

## Переменные

*What's in a name?*

Если мы хотим взять что-то и использовать это не сразу, а потом, может даже несколько раз, то нам нужно это что-то **назвать**. 


Ниже мы создаём переменную, название для числа 5. Это название `a`. Переменная `a` теперь равна пяти.

In [27]:
a = 5
print(a)

5

In [91]:
a = 5
print("a")

a

**Обратите внимание!** Чуть раньше мы печатали строку `"Hello, world!"` и прямо передавали эту строку как аргумент в функцию `print`. Здесь же мы передаём штуку другого характера: переменную `a`. Функция выяснит значение переменной и сработает с этим значением.

In [92]:
b = 7
c =  a + b

print(c)

print(a + b)

12
12

**Обратите внимание! [2]** Теперь мы вообще передали в функцию арифметическое выражение. Так можно! Точно как с переменными: выражение посчитается и функция сработает с результатом этого выражения.

In [30]:
print("a + b =", c)  # Можно указать через запятую несколько сущностей для печати
print(10 / 3)  # Комментарии можно писать после решётки
# В дробях точка

a + b = 12
3.3333333333333335

In [31]:
А без решётки не код ломает программу.
print('работает')

SyntaxError: invalid syntax (1379360594.py, line 1)

Мы получили ошибку `SyntaxError`. Ошибки бывают разных видов, обычно в них написано что-то полезное, что поможет исправить нашу программу.

## Математические операторы
`+ - * / =` , а ещё есть остаток от деления (`%`), целая часть при делении (`//`), возведение в степень (`**`)

Каждое выражение с новой строки.

Порядок действий привычный.

In [32]:
print(2 + 2 * 2)    # = 6
print((2 + 2) * 2)  # = 8

6
8

В десятичных дробях точка `.` (не запятая `,`). Так принято в англоязычном мире.

In [70]:
print(10 / 3)

3.3333333333333335

Обратите внимание, что `10 / 3` должно бы быть 3.(3) - три целых три в периоде. Но тут в конце почему-то `5`. Возможно дело в несовершенном хранении в компьютере дробных чисел

In [74]:
print(10/9)

1.1111111111111112

In [2]:
10/0

ZeroDivisionError: division by zero

Оказывается, делить на ноль нельзя!

Посмотрим на менее известные операции

In [33]:
5 % 2  # 1 - остаток от деления (5 = 2 * 2 + 1)
5 // 2  # 2 - целая часть       (5 = 2 * 2 + 1)
5 ** 3  # 125 - возведение в степень

# В таких тетрадках с кодом выводится последнее действие

125

Произвели три действия, а вывелось одно число.

Потому что в .ipynb тетрадках выводится последнее действие в ячейке, даже если не просить его напечатать.

Если нужно напечать конкретное действие или переменную, используем print()

In [34]:
print(5 % 2)
print(5 // 2)
print(5 ** 3)

1
2
125

> Посчитайте значения выражений. Ожидаемы ли результаты?

1. `2 + 2 * 2` = 6
2. `2 + (2 * 2)` = 6
3. `(2 + 2) * 2` = 8
4. `3 * 2 ** 2`
5. `(3 * 2) ** 2`
6. `3 * (2 ** 2)`
7. `8 * -4`
8. `8 * (-4)`

In [35]:
3 * 2 ** 2

12

In [36]:
3 * (2 ** 2)

12

In [37]:
(3 * 2) ** 2

36

СКОБКИ > возведение в степень (`**`) > умножение (`*`) > сложение

In [93]:
8 * -4

-32

In [39]:
8 * (-4)

-32

In [41]:
8 * (-(-4))

32

In [42]:
8 * --4

32

## Типы данных

Есть разные объекты: числа, строки с текстом, разные виды коллекций (списки, словари и т.д.)

Посмотрим на 3 типа данных:
- целые числа
- десятичные дроби (числа с точкой)
- строки

In [19]:
number = 324  # целое число
number_float = 324.52 # число "с плавающей точкой"
text = 'что-то в кавычках' # строка. Кавычки могут быть одинарные, двойные, тройные

# Мы храним их в переменных
# number, number_float, text - переменные

# Название переменных может быть любое. Лучше латиницей, лучше говорящие.
плим = "а я придумал слово"  # не делайте так

In [95]:
triple_quotes_1 = '''test

string

1'''

print(triple_quotes_1)

test

string

1

In [96]:
triple_quotes = """test


string

fkmfakmfam
"""

print(triple_quotes)

test


string

fkmfakmfam

In [97]:
letter = """
Дорог{ending} {name},

Меня не будет на паре.

С уважением,
{myname}
"""

In [99]:
print(letter.format(ending="ая", name="Екатерина Владимировна", myname="МБ"))

Дорогая Екатерина Владимировна,

Меня не будет на паре.

С уважением,
МБ

`type()` - узнать тип данных

In [48]:
print(type(324)) # целое число - int (от integer number)
print(type(324.3407))  # число с плавающей точкой - float (от floating-point number)
print(type(text))  # строка - str (от string)

<class 'int'>
<class 'float'>
<class 'str'>

- целое число - `int` (от integer number)
- число с плавающей точкой - `float` (от floating-point number)
- строка - `str` (от string)

Знать тип данных важно, потому что не с любым типом данных можно совершать определённые действия

In [3]:
# Что будет, если сложить две строчки?
print("строчка1" + "строчка2")  # 'строчка1строчка2'
print("1" + "2")  # '12' будет

# А если сложить два числа:
print(1 + 2)  # тут 3 будет

строчка1строчка2
12
3

In [17]:
# складывать строки и числа вообще нельзя
print(1 + " " + 2)

TypeError: ignored

##### *Про ошибки*

Если у вас возникла ошибка, прочитайте объяснение. Здесь нам говорят, что + не умеет складывать int с str.

Можно гуглить ошибки. Обычно на сайте stackoverflow уже решили вашу проблему.

In [19]:
# К счастью, числа int и float складываются

number_int = 3
number_float = 2.5
print(number_int + number_float)
print(type(number_int + number_float))  # получается тип float

5.5
<class 'float'>

In [50]:
x = 2 + 1.5 + 2.5
print(x)
print(type(x))

6.0
<class 'float'>

In [100]:
x = 2 + 1.5 + 2.5
x_int = int(x)

print(x_int)
print(type(x_int))

6
<class 'int'>

In [101]:
y = 3.141592
int_y = int(y)

print(int_y)
print(type(int_y))

3
<class 'int'>

In [55]:
y = 3.999999999999999
int_y = int(y)

print(int_y)
print(type(int_y))

3
<class 'int'>

## Математика+: округление (один из методов)

Для округления нам могут понадобиться функции:
* `int` (наша знакомая!) &mdash; просто отбросит дробную часть
* `round` &mdash; сделает **банковское** округление  
(как математическое, если дробная часть меньшие половины, округлять вниз, а если дробная часть больше половины, округлять вверх),  
но $1,5 \rightarrow 2$, а $4,5 \rightarrow 4$ (при $,5$ округляется к ближайшему чётному)

если дробная часть <0.5, то округление вниз

если больше или равно >= 0.5 то округление вверх

4.4 > 4  
4.5 > 5  
4.6 > 5  

3.4 > 3  
3.5 > 4  
3.6 > 4

In [102]:
# округление вниз
print(int(4.4), int(4.5), int(4.6))

4 4 4

In [103]:
# банковское округление
print(round(4.4), round(4.5), round(4.6))

4 4 5

In [59]:
print(round(3.4), round(3.5), round(3.6))

3 4 4

In [127]:
print(int(3.4), int(3.5), int(3.6))

3 3 3

In [128]:
# школьное округление

mark = float(input())

if int(mark) == round(mark):
    print(int(mark) + 1)
else:
    print(round(mark))

 4.5

5

In [107]:
mark = 4.4999999999999999999991

if mark >= 4.5:
    print(5)

5

In [108]:
import math

x = 4.2

print(math.ceil(x))

5

## Есть функции:

Их можно вызывать:

Общий вид: `<function>(то_к_чему_надо_применить)`

`print()` - мы видели выше. Печатает то, к чему применяется. Дополнительные аргументы это  

- `sep=<строка>` &mdash; разделитель, когда печатаем несколько вещей (по умолчанию пробел)  
- и `end=<строка>` &mdash; что распечатать в конце (по умолчанию новая строка `\n`)

In [13]:
print(1, 2, 3, sep='\n')

1
2
3

In [2]:
print(1, 2, 3)

1 2 3

In [130]:
newline = "\n\n"

print(1, 2, 3, sep=newline)

1

2

3

Но если мы записали что-то без кавычек (и это тогда воспринимается как название / имя переменной), то переменная с таким именем должна быть.
Иначе — ошибка.

In [131]:
print(1, 2, 3, sep=my_favourite_newline)

NameError: name 'my_favourite_newline' is not defined

Здесь не переменная, а заданная прямо в коде буквальная (*literal*) строка

In [65]:
newline = "\n"

print(1, 2, 3, sep="newline")

1newline2newline3

In [16]:
print(1, 2, 3, sep='<РАЗДЕЛИТЕЛЬ>', end='<КОНЕЦ>')

1<РАЗДЕЛИТЕЛЬ>2<РАЗДЕЛИТЕЛЬ>3<КОНЕЦ>

Аргументы `sep` и `end` - строчки

In [62]:
print(1, 2, 3, sep=0)

TypeError: sep must be None or a string, not int

In [132]:
print(1, 2, 3, sep="0")

10203

In [133]:
separator = "--"

print(1, 2, 3, sep=separator)

1--2--3

In [135]:
separator = "--"

print(1, 2, 3, sep="separator")

1separator2separator3

In [136]:
sep = "--"

print(1, 2, 3, sep=sep)

1--2--3

#### отступление про красоту кода

- переменные латиницей, названия говорящие: `newspaper_text` ~~`bkjkbg`~~, ~~`плим`~~
- вокруг математических операторов пробелы: `c = a + b` ~~`c=a+b`~~
- между функцией и скобкой нет пробела: `type('string')`  ~~`type ('string')`~~

In [2]:
# регистр в названии важен
some_name = 'Лёша'
Some_name = 'Алёша'
print(some_name, Some_name)

Лёша Алёша

`type()` — узнать тип данных

вот эта новая!

### `input()` - функция принимает текст от пользователя

Функции input() можно передать в качестве **аргумента** строку, которую увидит пользователь перед вводом.

Аргументы — значения, которые принимает функция. (То, что в скобках пишем).

In [4]:
input()

 Мой тестовый ввод

'Мой тестовый ввод'

In [5]:
1 + 2
3 + 5

8

In [147]:
input()

print("тестирую input")

 проверка

тестирую input

In [148]:
# по умолчанию пользователь получает нулевую строку перед вводом (то есть ничего не видит)
unknown_input = input()

 наконец-то сохарнится!

In [149]:
print(unknown_input)

наконец-то сохарнится!

In [150]:
print(type(unknown_input))

<class 'str'>

In [6]:
# А вот тут мы объяснили, что от него хотим
user_input = input('Введите число и нажмите enter ')

Введите число и нажмите enter  41414

In [7]:
print(user_input)
print(type(user_input))  # Всегда принимаем от пользователя строку

41414
<class 'str'>

### Тип данных можно иногда поменять

`int()` - в целое число

`float()` - в число с точкой

`str()` - в строку

In [8]:
print(type(user_input))

user_input_int = int(user_input)

print(user_input_int)  # превратили строку в число
print(type(user_input_int))

<class 'str'>
41414
<class 'int'>

In [155]:
user_input_int ** 2 // 1111

1111

In [157]:
print(
    type(
        int("sjkkd")
    )
)  # не всё можно превратить в число

ValueError: invalid literal for int() with base 10: 'sjkkd'

In [158]:
print(type(int("sjkkd")))  # не всё можно превратить в число

ValueError: invalid literal for int() with base 10: 'sjkkd'

In [82]:
pi_string = '3.1415'
pi = int(pi_string)  # так тоже нельзя, int - целые числа

ValueError: invalid literal for int() with base 10: '3.1415'

In [84]:
pi_string = '3.1415'
pi = float(pi_string)  # переводим строку в float
print(pi)
print(type(pi))

3.1415
<class 'float'>

In [25]:
d = 2.3
int(d)  # дробное число можно перевести в целое

2

In [27]:
e = 2.72
int(e)  # это не округление, просто отбрасывается дробная часть

2

In [28]:
# целое в дробное тоже можно
f = 10
float(f)

10.0

Хитрости, которые бывали на экзамене: число с визуальными разделителями  `_`

In [88]:
big_num = int("10_515_000_414")
print(big_num)

10000000

Кроме того, в конце строки могут быть пробельные символы

In [23]:
big_num = int("10_000_000\n ")
print(big_num)

10000000

In [87]:
float("15.414  \n")

15.414

### Потренируемся!
Напишите код, берущий два числа у пользователя и выдающий их сумму

In [9]:
a = int(input())
b = int(input())
c = a+b
print(c)

 54
 46

100

In [2]:
# То же самое, но короче. Оба варианта правильные.

Введите первое число: 6
Введите второе число: 8
Сумма:  14

> **Задание**.
> Пользователь вводит целое число. Считайте это число, умножьте его на 2, а затем выведите число, которое составлено повторением результата умножения 4 раза.
>
> Пример:
> 
> ввод: `8`
> 
> вывод: `16161616`

In [12]:
num = int(input())
result = num * 2

final = str(result) * 4 
print(final)

 5

10101010

> **Задание+**.
> Пользователь вводит целое число `a`. Затем ещё одно `n`. Первое число умножьте на 2, а затем выведите новое число, которое составлено повторением результата умножения `n` раз.
>
> Пример:
> 
> ввод:  
> `8`  
> `3`
> 
> вывод:
> `161616`
>
> ввод:  
> `9`  
> `2`
> 
> вывод:
> `1818`

In [14]:
num = int(input())
n = int(input())

result = num * 2

final = str(result) * n
print(final)

 9
 2

1818

### Продолжим знакомство с функциями
`len()` - считает длину

In [ ]:
# Можно измерить длину списка, словаря, строки...
len('привет')

6

In [15]:
len("🤺👣")

2

In [16]:
len("👨‍👩‍👦")

5

In [17]:
mylist = [1, 2, 3, 4, 5]
months = ("январь", "февраль")
mydict = {"Толстой": "Война и мир", "Достоевский": "Идиот"}

print(len(mylist))
print(len(months))
print(len(mydict))
print(len("Тут в этом предложении 34 символа."))
print(len('А тут девятнадцать.'))

5
2
2
34
19

In [18]:
num_from_str = int("145")
print(type(num_from_str), num_from_str)

<class 'int'> 145

In [19]:
num_from_float = int(4.5643)
print(type(num_from_float), num_from_float)

<class 'int'> 4

In [21]:
# Посчитайте, сколько символов в отрывке.
text1 = """Почему я как композитор-оперник тяготею к классике? Это у меня с детства.
В детстве я очень любил играть в классики. Ребенком я любил пить чай, естественно, с пирожными, и лучше всего с безе.
Отсюда в сублимации ассоциаций детства тяготение к Чайковскому, к Бизе, и т. д., и т. п., и т. д.
Как сказал классик, надо брать музыку у народа, и только обрабатывать её. Так я и делаю.
Поэтому, когда сегодня берёшь у композитора — это, собственно говоря, берёшь у народа, берёшь у народа —
берёшь у себя, и главное, чтобы музыка была твоя, и кто говорит "плагиат", я говорю "традиция"."""

In [22]:
len(text1)

579

## Есть методы:

общий вид - `<то_к_чему_надо_применить>.<method>()`

`.split()` делит на строку по тому, что указано в скобках (по умолчанию по пробелоподобным символам). Выдаёт список.

In [23]:
# Давайте поделим текст на предложения!
text2 = "Иван Топорышкин пошел на охоту, с ним пудель пошел, перепрыгнув забор, Иван, как бревно провалился в болото, а пудель в реке утонул, как топор. Иван Топорышкин пошел на охоту, с ним пудель вприпрыжку пошел, как топор. Иван повалился бревном на болото, а пудель в реке перепрыгнул забор."

text2.split('.')

['Иван Топорышкин пошел на охоту, с ним пудель пошел, перепрыгнув забор, Иван, как бревно провалился в болото, а пудель в реке утонул, как топор',
 ' Иван Топорышкин пошел на охоту, с ним пудель вприпрыжку пошел, как топор',
 ' Иван повалился бревном на болото, а пудель в реке перепрыгнул забор',
 '']

In [24]:
res = "vasya.".split(".")

In [30]:
res

['vasya', '']

In [29]:
res[1], len(res[1])

('', 0)

In [31]:
# По дефолту (по умолчанию) .split() делит по пробелоподобным символам
text3 = "Смотри, какое хорошее слово: «Трям»!"
text3.split()

['Смотри,', 'какое', 'хорошее', 'слово:', '«Трям»!']

In [25]:
# Есть метод .strip()
# Он отделяет ненужные символы по краям строк

":::::слово::".strip(":")

'слово'

In [36]:
"::сло:во:::".strip(":")

'сло:во'

In [34]:
" Вася \n".strip()

'Вася'

In [37]:
"«Трям»!...,,".strip("!\"#$%&'()*+, -./:;<=>?@[\]^_`{|}~«»")
# указываем подряд все символы, которые не могут быть по краям строки

'Трям'

In [38]:
"«Тр:!ям»!...,,".strip("!\"#$%&'()*+, -./:;<=>?@[\]^_`{|}~«»")
# указываем подряд все символы, которые не могут быть по краям строки

'Тр:!ям'

## Условия и операторы сравнения

```
if <условие>:
    блок инструкций, в случае если условие истинно
else:
    блок инструкций, в случае если условие не выполняется
```

In [ ]:
number = -6
if number < 0:
    print("отрицательное число")  
else:
    print("положительное число")  # лучше "неотрицательное"

In [ ]:
# но ноль - ни положительное, ни отрицательное

number = 0
if number < 0:
    print("отрицательное число")
else:
    if number == 0:
        print("ноль")
    else:
        print("положительное число")

#### Что мы сделали?
Мы в блок инструкций добавили ещё одну "условную конструкцию"

```
если число < 0:
    печатаем "отрицательное число"
иначе:
    # этот блок кода выполняется, если число неотрицательное    
    # то есть либо ноль, либо положительное. Проверим, равно ли нулю.    
    если число == 0:    
        печатаем "ноль"        
    иначе:    
        # этот блок кода выполняется, если наше уже точно неотрицательное не ноль, т.е. положительное        
        печатаем "положительное число"
```

Обратите внимание, что мы вложили одно условие в другое.

Можно добавлять условные конструкции в любой блок инструкций. (неограниченное количество раз)

Но условия в условии можно красиво избежать:

In [ ]:
if number > 0:
    print("положительное число")
elif number == 0:  # таких elif может быть много, после них пишут альтернативные условия
    print("ноль")
else:
    print("отрицательное число")

### Основные операторы сравнения

- `>` - больше. Условие истинно, если то, что слева от знака больше того, что справа
- `<` - меньше. Условие истинно, если то, что слева от знака меньше того, что справа
- `>=` - больше либо равно
- `<=` - меньше либо равно
- `==` - в точности равно
- `!=` - не равно

### Потренируемся!
Пользователь вводит число и получает это число в кубе (возвести в степень: $5 {**} 3 = 5*5*5 = 125$)

Пользователь может отказаться словом "стоп" (программа выводит сообщение: `"вы отказались от услуги"`)

In [ ]:
# ваш код

### Тип данных bool

Всего два значения: `True` и `False`. С большой буквы.

(Не называйте переменные `true` или `false` - мы за красивый понятный код)

In [ ]:
print(5>0)
print(type(5>0))
print(5==0)

In [1]:
# bool переводится в число
print(int(True))
print(int(False))

1
0

In [ ]:
# Числа переводятся в bool: все кроме нуля - True
print(bool(4))
print(bool(-6.578))
print(bool(0))

In [ ]:
# Строки переводятся в bool: все кроме '' - True
print(bool('непустая строка'))
print(bool(''))

In [ ]:
# Поэтому можно так:
name = input("Введите имя: ")
if name:
    print("Привет, ", name)
else:
    print("Вы не ввели имя...")

### Логические операторы
- **and** (логическое И) возвращает истину (`True`), если оба условия по отдельности верны (тоже возвращают `True`)
- **or** (логическое ИЛИ) вернет истину, если хотя бы одно из условий верно
- **not** (логическое НЕТ) возьмет результат условия и “обратит” его.

In [ ]:
a = int(input())
b = int(input())

if a % 10 == 0 or b % 10 == 0:
    print('Хотя бы одно число кратно 10.')
else:
    print('Оба числа не кратны 10.')

## Циклы

### for

In [ ]:
for element in 'hello':
    print(element)

In [ ]:
words = ['сочиняю', 'я', 'неплохо', "иногда", "да"]
for element in words:
  print(element)

Так работает с итерируемыми объектами (которые можно перебирать по элементам). Это строки, списки, кортежи, словари и др.

### Потренируемся!
- делим текст на слова по пробелоподобным символам (получаем список)
- проходим по словам
    - отсекаем пунктуацию
    - печатаем слово

In [ ]:
# ваш код

## Распаковка / множественное присвоение

можно записать слева и справа от `=` одинаковое количество объектов, и присвоить так:

In [4]:
a, b, c = 'это а', 'это б', 'это ц' 

print(a)
print(b)
print(c)

это а
это б
это ц

**одинаковое!**

In [28]:
a, b, c = 'это а', 'это б'

print(a)
print(b)
print(c)

ValueError: not enough values to unpack (expected 3, got 2)

In [60]:
a, b, = 'это а', 'это б', 'это ц' 

print(a)
print(b)
print(c)

ValueError: too many values to unpack (expected 2)